<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Stylish", sans-serif;
      }

      .title {
        font-size: 50px;
      }
      .item-title {
        display: inline-block;
      }

      .container {
        margin: 0 auto;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .wrap {
        width: 500px;
        height: 500px;
        background-image: url("https://cdn.ggumim.co.kr/cache/furniture/600/20180425191205oK2Tie6Px2.jpg");
        background-size: cover;
        background-position: center;
      }
      .contents {
        width: 500px;
      }
      .order {
        width: 400px;
      }
    </style>
    <title>반려식물 사세요</title>
  </head>
  <body>
    <div class="container">
      <div class="wrap"></div>

      <!-- 제목-->
      <div class=" text-center">
        <span class="item-title"><label class="title"> 반려식물</label> </span>
        가격 : 5,000원/개
        <p class="contents">
          삭막한 아파트 실내에 활기를 불어넣기 위해, 혹은 반려동물 기르듯 생명이
          있는 무언가를 기르고 싶은 마음으로 요즘 식물을 가까이 두고 기르는
          분들을 위한 상품
        </p>
      </div>
      <!--주문하기-->
      <div class="order">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-add">주문자 성함</span>
          </div>
          <input
            id="input_name"
            type="text"
            class="form-control"
            placeholder="성함을 입력해주세요"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >수량</label
            >
          </div>
          <select class="custom-select" id="select_count">
            <option selected value="">선택해주세요</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">e-mail</span>
          </div>
          <input
            id="email"
            type="e-mail"
            class="form-control"
            placeholder="e-mail을 입력해주세요"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">전화번호</span>
          </div>
          <input
            id="phone"
            type="number"
            class="form-control"
            placeholder="전화번호를 입력해주세요 010-000-0000"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary" onclick="onOrder()">
        주문하기
      </button>
      <br />
      <div class="ordered">
        <table class="table">
          <thead>
            <tr>
              <th>이름</th>
              <th>수량</th>
              <th>email</th>
              <th>전화번호</th>
            </tr>
          </thead>
          <tbody it="order_list">
            <tr>
              <td>ad</td>
              <td>ad</td>
              <td>ad</td>
              <td>ad</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>

      <script>
                        function onOrder() {
                          let name = $("#input_name").val();
                          let count = $("#select_count").val();
                          let email = $("#email").val();
                          let phone = $("#phone").val();

                          if (name == "") {
                            alert("이름을 입력해주세요");
                            $("#input_name").focus();
                            return;
                          }

                          if (count < 1) {
                            alert("수량을 선택하세요");
                            $("#select_count").focus();
                            return;
                          }

                          if (email == "") {
                            alert("이메일을 입력해주세요");
                            $("#email").focus();
                            return;
                          }
                          if (!chkEmail(email)) {
                            alert("이메일 형식이 틀립니다");
                            $("#email").focus();
                            return;
                          }
                          /// 이메일 형식이 달라요!

                          if (phone == "") {
                            alert("전화번호를 입력해주세요");
                            $("#phone").focus();
                            return;
                          }
                          if (is_phone_number(phone) == false) {
                            alert("전화번호 입력형식이 틀립니다");
                            $("#phone").focus();
                            return;
                          }

                          alert("주문이 완료되었습니다");
                        }

                            $.ajax({
                                type: "POST",
                                url: "/order",
                                data: { name:name,count:count,email:email,phone:phone },
                                success: function (response) {
                                    if (response['result']== 'success'{
                                        alert(response['message']);
                                        $("#input_name").val();
                                        $("#select_count").val();
                                        $("#email").val();
                                        $("#phone").val();
                                        window.location.reload();
                                    })}}

                                       $(document).ready(function()){
                                        $('#order-list').html('');
                                        listing();
                                        });
        function listing(){
            $.ajax({
                type:"GET",
                url: "/order",
                data:{},
                success:fuction(response){
                    if (response['result']=='success'){
                        let order =resonse['order'];
                        for (let i = 0; i < size; i++) {
                        make_list(order[i]['name'],order[i]['count'],order[i]['email'],order[i]['phone']);

                    }
                }else{
                    alert('주문을 받아오지 못했습니다');
                }
            }
        })}

            function make_list(name,count,email,phone){
                let temp_html =`<tr>
              <td>${name}</td>
              <td>${count}</td>
              <td>${email}</td>
              <td>${phone}</td>

            </tr>`;
            $('#orders-list').append(teml_html);
            }





                        // 이메일 유효성 검사
                        function chkEmail(str) {
                          var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                          if (regExp.test(str)) return true;
                          else return false;
                        }
                        function is_phone_number(phone) {
                          if (phone.indexOf("010") == -1) {
                            return false;
                          } else if (phone.length != 11) {
                            return false;
                          }
                          return true;
                        }
                        // 전화번호 유효성 검사
      </script>
      <script>
        // 주문 리스트
        $(document).ready(function() {
          for (let i = 1; i < 12; i++) {
            let temp_html = '<option value="' + i + '">' + i + "</option>";
            $("#select_count").append(temp_html);
          }
        });
      </script>
    </div>
  </body>
</html>
